<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfGui.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WpfGui.Settings1>
            <setting name="CompressType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CompressQuality" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="CompressResize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressResizeWidth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressResizeHeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressResizeShort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompressResizeLong" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CompressResizeWidthValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompressResizeHeightValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CompressResizeShortValue" serializeAs="String">
                <value>2520</value>
            </setting>
            <setting name="CompressResizeLongValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageIsFixed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PagePageType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PageSizeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PageSizeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IORecurse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IOKeepStruct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IOCompress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IONoMove" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IOKeepPdfInFolder" serializeAs="String">
                <value>False</value>
            </setting>
        </WpfGui.Settings1>
    </userSettings>
</configuration>